.messageItemTitleWrapper {
  border-bottom: 1px solid lightgray;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}
.messageItemInputWrapper {
  width: 100%;
  display: flex;
  align-items: baseline;
}
.messageItemListWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: overlay;
}

.messageInput {
  width: 100%;
  height: 40px;
}

.messageButton {
  height: 40px;
}

.message {
  border: 1px solid lightgreen;
  padding: 10px;
  border-radius: 5px;
  align-self: flex-start;
  margin-left: 15px;
}

.incoming {
  border: 1px solid lightcoral;
  margin-right: 25px;
  align-self: flex-end;
}
